<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/style.css">

<script src="/static/voice.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
<script src="/static/particles.js"></script>

</head>

<body>

<div id="particles-js"></div>

<div class="container">

<h1>GradVox</h1>

<img src="/static/avatar2.png" class="avatar">
<br>

</br>
<p>Your AI Interview Mentor</p><br>

</br>



<button onclick="window.location='/name'">Get Started</button>

</div>

<script>

window.onload=function(){
speak("Hello I am Gradvox. Your AI interview mentor.")
}

</script>

</body>
</html>